<div class="row">

  <div class="col-sm-offset-1 col-sm-3 col-xs-12" id="leftcol">
    <%= render 'docs/sidebar' %>
  </div>

  <div class="col-sm-7 col-xs-12">

    <h1 id="start">شروع به کار</h1>

    <br>

    <h4>شروع سریع</h4>
    <ol style="font-size: 1.1em;">
      <li>برای ایجاد یک حساب کاربری در ThingTalk <a href="/users/sign_up">عضو شوید</a></li>
      <li>با رفتن به <a href="/channels">صفحه ی کانال ها </a> کلیک بر روی <em> کانال جدید</em>یک کانال جدید برای خود بسازید.</li>
      <li><a href="/docs/channels#update_feed">کانال خود را با درخواست </a> به آدرس زیر به روز رسانی کنید:<br><code><%= @ssl_api_domain %>update?api_key=<span class="customcode">YOUR_CHANNEL_API_KEY</span>&field1=<span class="customcode">7</span></code>
      <li><a href="/docs/channels#get_feed">فیدهای کانال خود را مشاهده کنید</a>:<br><code><%= @ssl_api_domain %>channels/<span class="customcode">YOUR_CHANNEL_ID</span>/feeds.json</code></li>
    </ol>

    <br>
    <h4 id="docsignup">عضویت در سایت</h4>
    <p>
برای عضویت ابتدا وارد صفحه‌ی اصلی سایت شوید. صفحه‌ی اصلی به شکل زیر است: <br><br>
    <%= image_tag 'clickSignup (2).jpeg', :size => '600x300', :alt => "signup" %>
    <br><br>

برروی گزینه‌ی "همین حالا شروع کنید" کلیک کنید تا وارد صفحه‌ی ثبت‌نام شوید. همچنین می‌توانید از نوار بالای سایت برروی "عضو شوید" کلیک کنید. صفحه‌ی ثبت‌نام به شکل زیر است: <br><br>
    <%= image_tag 'signupPageclick.jpeg', :size => '600x300', :alt => "signup" %>
<br><br>

اطلاعات خود را وارد کنید و برروی گزینه‌ی "ایجاد حساب کاربری" کلیک کنید به این ترتیب مراحل عضویت شما در صورت وجود نداشتن مشکلی انجام خواهد شد و صفحه‌ای مشابه صفحه‌ی زیر برای شما باز می‌شود که شامل پیام موفقیت ثبت‌نام است.
<br><br>
    <%= image_tag 'signupSuccess.jpeg', :size => '600x300', :alt => "signup" %>

    </p>

    <br><br>
    <h4 id="doclogin">ورود به حساب کاربری</h4>

    <p>در صورتی که طبق مرحله‌ی عضویت، حساب کاربری شما با موفقیت ایجاد شده باشد، برای ورود به حساب کاربری خود در صورتی که قبلا وارد نشده‌اید وارد صفحه‌ی اول سایت شوید و سپس از نوار بالای سایت برروی گزینه‌ی "ورود" کلیک کنید تا وارد صفحه‌ی ورود شوید:
    <br><br>
      <%= image_tag 'loginpage.jpeg', :size => '600x300', :alt => "login" %>
    <br><br>
    <ul>
      <li>نام کاربری یا ایمیل خود را که با آن ثبت‌نام کرده اید در قسمت نام کاربری وارد کنید.</li> 
  <br>
    <li>رمزعبور خود را نیز وارد کنید.</li>
 <br>
    <li>چنانچه می‌خواهید در مراجعه‌های بعدی بدون نیاز به انجام مراحل فوق به صورت خودکار وارد شوید، جلوی گزینه‌ی "حساب کاربری من را به خاطر بسپار" تیک بزنید.</li>
 <br>
 <li>در پایان برروی گزینه‌ی "ورود" کلیک کنید.</li>
</ul>
 </p>
    


    <br><br>
    <h4 id="doclogout">خروج از حساب کاربری</h4>
    <p>
      در صورتی که طبق مرحله‌ی "وارد شدن به حساب کاربری" وارد حساب کاربری خود شده‌اید و می‌خواهید پس از انجام کارهای خود از حساب کاربری خود خارج شوید، صفحه‌ی اول سایت به شکل زیر نمایش داده می‌شود:
    <br><br>
      <%= image_tag 'logout.jpeg', :size => '600x300', :alt => "login" %>
    <br><br>
همانطور که مشاهده می‌کنید در نوار آبی رنگ بالای سایت گزینه‌های متفاوتی نسبت به زمانی که وارد سایت نشده‌اید وجود دارد که یکی از آن‌ها که در قسمت بال سمت چپ قرار دارد "خروج" است. با کلیک برروی این گزینه شما قادر خواهید بود از سایت خارج شوید.

    </p>
  </div>
</div>

